.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.one-third {
  width: 30%;
}

.two-thirds {
  width: 70%;
}

.logout-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #cc0000;
}