body {
    background-color: rgb(43, 73, 73);
}

h3 {
    text-align: center;
}

ul {
    padding: 10px 45px;
    list-style-type: none;
    border-radius: 10px;
    height: 57vh;
    max-height: 57vh;
    overflow-y: scroll;
}

li {
    display: flex;
    justify-content: space-between;
    margin: 9px -30px;
    font-size: 20px;
    font-family: 'Brush Script MT', cursive;
    background-color: bisque;
    border: 1px solid navy;
    border-radius: 25px;
    min-width: 250px;
    word-wrap: break-word;
}

span {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 6px;
    height: auto;
    width: calc(100% - 40px);
}

#deletebtn {
    padding: 10px;
    font-size: medium;
    cursor: pointer;
}

#deletebtn:hover {
    color: red;
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.one-third {
    width: 30%;
}

.two-thirds {
    background-color: rgb(57, 125, 108);
    width: 70%;
    height: 79vh;
    border-radius: 10px;
}

#todoDashboard{
    margin-left: 55%;
    font-size: 40px;
    color:aliceblue;
}

#todoSection{
    min-width: 300px;
    background-color: rgb(160, 160, 241);
}

#inprocessSection{
    min-width: 300px;
    background-color: rgb(216, 216, 126);
}

#completedSection{
    min-width: 300px;
    background-color: rgb(78, 165, 78);
}

ul::-webkit-scrollbar {
  width: 10px;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(2, 8, 12, 0.8);
  border-radius: 10px;
}

ul::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.logout-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #cc0000;
}